
@{
    ViewData["Title"] = "Concurrent Postgres";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Postgres select runned in 5 threads finished</h1>
</div>

